{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fifthy Shades of Colors</h1>

    <table cellspacing="0" cellpadding="0" border="1">
        <thead>
            <tr>
                {% for color in colors %}
                    <th>{{ color|capitalize }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in 0..(rows - 1) %}
                <tr>
                    {% for color in colors %}
                        <td style="width: 80px; height: 40px; background-color: {{ shades[color][i] }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}